.box {
width:340px;
height:340px;
background-color:red;
font-size: 14px;
}


.btn1 {
    width: 70px;
    height: 20px;
    color: grey;
    font-size: 14px;
}

.textInputStyle{
    padding-top: 20px;
}

/* #veryimportant-message{ 
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
} */

.textInputBox{
    padding-top: 20px;
}

.btn2 {
    width: 70px;
    height: 20px;
    color: grey;
    font-size: 14px;
}